@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  min-height: 100vh;
  background: rgb(1,4,9);
  background: -moz-radial-gradient(circle, rgba(1,4,9,1) 0%, rgba(16,14,35,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(1,4,9,1) 0%, rgba(16,14,35,1) 100%);
  background: radial-gradient(circle, rgba(1,4,9,1) 0%, rgba(16,14,35,1) 100%);
  filter: progid:DXImageTransForm.Microsoft.gradient(startColorstr="#010409", endColorstr="#100e23", GradientType=1);
  font-family: "Cairo", sans-serif;
}